<head>
    <title>
        {% block title %} {{ code }} {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
              integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootstrap5.ru/css/docs.css">
    {% endblock %}
</head>
<body>
<h1>{% if message %}{{ message }}{% else %}{{ xdebug_message }}{% endif %}</h1>
</body>